// GLOBAL RESET
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

@media all and (max-width: 1120px) {
  html {
    font-size: 50%;
  }
}

body {
  box-sizing: border-box;
}

// ---------- SCROLLBAR ---------
::-webkit-scrollbar {
  width: 1.5rem;
  height: 1.5rem;
}
::-webkit-scrollbar-track {
  background: $color-secondary;
}
::-webkit-scrollbar-thumb {
  background: lighten($color-primary, 10%);
  border-radius: 50rem;
}
::-webkit-scrollbar-thumb:hover {
  background: lighten($color-primary, 15%);
}
::-webkit-scrollbar-corner {
  background: $color-secondary;
}
// ----------- MAIN CONTAINER -----------
.main {
  position: relative;
  width: 100%;
  // height: auto;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(
      117deg,
      rgba($color-primary, 0.8) 0%,
      rgba($color-secondary, 0.8) 100%
    ),
    url(../img/bg-img-1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

// ----------- TITLE SECTION -----------
.title {
  font-size: $fs-big;
  font-family: $main-font-family;
  font-weight: 400;
  color: $color-text;
  margin-top: $mg-medium-big;
  margin-bottom: $mg-big;

  text-shadow: 3px 3px 0 $color-white, -3px 3px 0 $color-white,
    -3px -3px 0 $color-white, 3px -3px 0 $color-white;
}

@media all and (max-width: 900px) {
  .title {
    margin: $mg-small $mg-medium-small;
    text-align: center;
  }
}

//  ---------- THE TO DO LIST + ADD BUTTON SECTION ----------
.content-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 5rem;
}

//  ---ADD BUTTON ---
.btn-container {
  width: 85%;
}
.add-btn {
  font-size: $fs-small-big;
  padding: 2rem 4rem;
  margin-bottom: $mg-medium-big;
  display: fixed;
  left: 400px;
  cursor: pointer;
  color: $color-text;
  border: 3px solid $color-primary;
}

.btn {
  font-family: $main-font-family;

  font-weight: 400;
  border-radius: 500px;
  box-shadow: $shadow-big;
  transition: all 0.2s;
  outline: none;
}

.btn:hover {
  background-color: $color-white;
}

.btn:active {
  transform: translateY(0.3rem);
  box-shadow: $shadow-big-active;
}

//  ---THE TO DO LIST CONTAINER ---
.columns-container {
  display: flex;
  border: 5px solid $color-primary;
  border-radius: 10px;

  width: 90%;
  min-width: 110rem;
  min-height: 30rem;

  text-align: center;
  font-family: $main-font-family;
  box-shadow: $shadow-small;

  .column {
    flex: 1;
  }

  // TO DO COLUMN
  .todo-column {
    display: flex;
    flex-direction: column;
    min-width: 35rem;
    border-right: 5px solid $color-primary;

    .state-title {
      background-color: $state-todo;
      font-size: $fs-medium-small;
      color: $color-text;
      min-width: 35rem;
      text-shadow: 3px 3px 0 $color-white, -3px 3px 0 $color-white,
        -3px -3px 0 $color-white, 3px -3px 0 $color-white;
    }
    .state-content-todo {
      background-color: lighten($state-todo, 30%);
      height: 100%;
      min-height: 55rem;
      font-size: $fs-small-big;
    }

    @media all and (max-width: 900px) {
      background-color: lighten($state-todo, 30%);
    }
  }

  // IN PROGRESS COLUMN
  .in-progress-column {
    display: flex;
    flex-direction: column;
    min-width: 35rem;

    .state-title {
      background-color: $state-in-progress;
      font-size: $fs-medium-small;
      color: $color-text;
      min-width: 35rem;

      text-shadow: 3px 3px 0 $color-white, -3px 3px 0 $color-white,
        -3px -3px 0 $color-white, 3px -3px 0 $color-white;
    }
    .state-content-inprogress {
      background-color: lighten($state-in-progress, 15%);
      height: 100%;
      font-size: $fs-small-big;
      min-height: 55rem;
    }

    @media all and (max-width: 900px) {
      background-color: lighten($state-in-progress, 15%);
    }
  }

  // DONE COLUMN
  .done-column {
    display: flex;
    flex-direction: column;
    min-width: 35rem;
    border-left: 5px solid $color-primary;

    .state-title {
      background-color: $state-done;
      font-size: $fs-medium-small;
      color: $color-text;
      min-width: 35rem;

      text-shadow: 3px 3px 0 $color-white, -3px 3px 0 $color-white,
        -3px -3px 0 $color-white, 3px -3px 0 $color-white;
    }

    .state-content-done {
      background-color: lighten($state-done, 13%);
      height: 100%;
      font-size: $fs-small-big;
      min-height: 55rem;
    }

    @media all and (max-width: 900px) {
      background-color: lighten($state-done, 13%);
    }
  }

  .state-title {
    border-bottom: 5px solid $color-primary;
    padding: 2rem;
  }

  @media all and (max-width: 900px) {
    .done-column {
      border-left: none;
    }

    .in-progress-column {
      border-bottom: 3px solid $color-primary;
    }

    .todo-column {
      border: none;
      border-bottom: 3px solid $color-primary;
    }
    .state-title {
      border-bottom: 3px solid $color-primary;
    }
  }
}

@media all and (max-width: 900px) {
  .columns-container {
    flex-direction: column;
    min-width: 40rem;
    min-height: 90rem;
  }
}

// ---------- MODAL ----------
.modal-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  display: flex;
  flex-direction: column;
  border: 5px solid $color-primary;
  border-radius: 10px;
  align-items: center;
  padding: 2rem;
  width: 50%;
  min-width: 38rem;
  height: 60%;
  min-height: 50rem;
  background-color: $color-secondary;
  box-shadow: $shadow-small;
  z-index: 10;

  // MODAL TITLE
  .modal-title {
    font-size: $fs-medium-small;
    font-family: $main-font-family;
    color: $color-text;
  }

  // MODAL FORM
  .modal-form {
    display: flex;
    width: 90%;
    height: 90%;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    .field-holder {
      display: flex;
      justify-content: center;
      width: 100%;
      height: 100%;
      position: relative;
      margin-top: $mg-medium-small;
    }

    .input-label-title,
    .input-label-text {
      width: 80%;
      position: absolute;
      top: 0rem;
      left: 0rem;
      font-size: $fs-small-small;
      font-family: $main-font-family;
      color: rgba($color-text, 0.6);
      height: 4rem;
      cursor: text;
      display: flex;
      align-items: center;
      padding-left: 1rem;
      transition: all 0.3s;
    }

    input {
      height: 4rem;
      width: 100%;
      border-radius: 10px;
      font-size: $fs-small-small;
      font-family: $main-font-family;
      background-color: $color-white;
      border: 5px solid $color-primary;
      padding: 0 0.9rem;
      outline: none;
    }

    textarea {
      width: 100%;
      border: 5px solid $color-primary;
      border-radius: 10px;
      font-size: $fs-small-small;
      font-family: $main-font-family;
      background-color: $color-white;
      margin-bottom: $mg-small;
      padding: 0.7rem 0.9rem;
      outline: none;
      resize: none;
    }

    textarea::-webkit-scrollbar-track {
      background: $color-white;
    }

    input:focus + .input-label-title,
    input:valid + .input-label-title {
      font-size: 1.7rem;
      top: -32px;
      pointer-events: none;
    }

    textarea:focus + .input-label-text,
    textarea:valid + .input-label-text {
      font-size: 1.7rem;
      top: -32px;
      pointer-events: none;
    }
  }

  // MODAL CANCEL AND SAVE BUTTON
  .modal-footer {
    width: 100%;
    display: flex;
    justify-content: space-around;
    padding: 5rem;
    margin-bottom: $mg-small;
    gap: 2rem;

    .modal-btn-cancel {
      min-width: 10rem;
      padding: 1rem 3rem;
      background-color: $state-todo;
      color: $color-white;
      border: 5px solid $color-primary;
      box-shadow: $shadow-big;
      font-size: $fs-small-small;
      cursor: pointer;
    }
    .modal-btn-save {
      min-width: 10rem;
      padding: 1rem 3rem;
      background-color: $state-done;
      color: $color-text;
      border: 5px solid $color-primary;
      box-shadow: $shadow-big;
      font-size: $fs-small-small;
      cursor: pointer;
    }

    .modal-btn-cancel:hover {
      background-color: lighten($state-todo, 5%);
    }
    .modal-btn-save:hover {
      background-color: lighten($state-done, 10%);
    }

    .modal-btn-cancel:active {
      transform: translateY(0.5rem);
      box-shadow: $shadow-big-active;
    }
    .modal-btn-save:active {
      transform: translateY(0.5rem);
      box-shadow: $shadow-big-active;
    }

    @media all and (max-width: 900px) {
      .modal-btn-cancel,
      .modal-btn-save {
        font-size: 1.6rem;
      }
    }
  }
}

// --- MODAL OVERLAY ---
.modal-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba($color-primary, 0.8);
}

// --- CARD MODAL OVERLAY ---
.card-modal-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba($color-primary, 0.8);
}

// ---------- DYNAMICALLY CREATED CARD STYLES ----------
.card-container {
  margin: 1rem;
  padding: 1rem;
  max-height: 25rem;
  font-size: 1.6rem;
  font-family: $main-font-family;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 5px solid $color-primary;
  border-radius: 10px;
  background-color: $color-white;
  flex: content;

  .card-title {
    text-transform: uppercase;
    letter-spacing: 2;
    padding: 0.8rem;
  }

  .card-description {
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    min-height: 10rem;
    max-height: 11.5rem;
  }

  .card-timestamp {
    margin-bottom: 0.8rem;
  }

  .card-footer {
    width: 100%;
    display: flex;
    justify-content: space-around;

    select {
      border: 3px solid $color-primary;
      border-radius: 10px;
      height: 3rem;
      width: 11.5rem;
      font-family: $main-font-family;
      color: $color-text;
    }

    .delete-btn {
      border: 3px solid $color-primary;
      border-radius: 10px;
      height: 3rem;
      width: 11.5rem;
      font-family: $main-font-family;
      color: $color-white;
      background-color: darken($state-todo, 8%);
      cursor: pointer;
      transition: all 0.2s;
      box-shadow: $shadow-small;
    }

    .delete-btn:hover {
      background-color: $state-todo;
    }
    .delete-btn:active {
      transform: translateY(2px);
      box-shadow: $shadow-small-active;
    }

    @media all and (max-width: 900px) {
      select,
      .delete-btn {
        font-size: 1rem;
        border: 2px solid $color-primary;
        width: 9rem;
      }
    }
  }
}

//---------- TASK CARD MODAL ----------
.card-modal-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  display: flex;
  flex-direction: column;
  border: 5px solid $color-primary;
  border-radius: 10px;
  align-items: center;
  padding: 2rem;
  width: 70%;
  min-width: 38rem;
  height: 60%;
  min-height: 50rem;
  background-color: $color-secondary;
  box-shadow: $shadow-small;
  z-index: 10;
  font-family: $main-font-family;
  text-align: center;

  .card-modal-title {
    font-size: $fs-medium-small;
    font-family: $main-font-family;
    color: $color-text;
    margin-bottom: $mg-small;
  }

  .card-modal-description {
    width: 90%;
    height: 80%;
    border: 5px solid $color-primary;
    border-radius: 10px;
    font-size: $fs-small-small;
    font-family: $main-font-family;
    background-color: $color-white;
    margin-bottom: $mg-small;
    // padding: 0.7rem 0.9rem;
    outline: none;
    resize: none;

    overflow: scroll;
  }

  .card-modal-description::-webkit-scrollbar-track {
    background: $color-white;
  }

  .card-modal-description::-webkit-scrollbar-corner {
    background: $color-white;
  }

  .card-modal-timestamp {
    font-size: $fs-small-big;
    margin-bottom: 0.8rem;
  }

  .card-modal-btn {
    min-width: 10rem;
    padding: 1rem 3rem;
    background-color: $state-todo;
    color: $color-white;
    border: 5px solid $color-primary;
    box-shadow: $shadow-big;
    font-size: $fs-small-small;
    cursor: pointer;
  }
}
