// Gradiant Colors
$color-primary: #654a2a;
$color-secondary: #e1ceb7;

//Color Trials: #e11444 (Red), #aceca1 (Green)

// Text Color
$color-text: #353b3c;
$color-text-light: #ebfff4;
$color-white: #fff;

//State Color
$state-done: #c9e3a0;
$state-in-progress: #ffd166;
$state-todo: #853232;

// Fonts
$main-font-family: "Concert One";

// Font-Size
$fs-big: 10rem;
$fs-medium-big: 7rem;
$fs-medium-small: 4.5rem;
$fs-small-big: 3rem;
$fs-small-small: 2rem;

// Spaceing
$mg-big: 8rem;
$mg-medium-big: 6rem;
$mg-medium-small: 4rem;
$mg-small: 2rem;

//Box Shadow

$shadow-big: 1px 10px 15px 0px rgba(0, 0, 0, 0.59);
$shadow-big-active: 0px 8px 10px 0px rgba(0, 0, 0, 0.59);
$shadow-small: 0px 4px 10px 0px rgba(0, 0, 0, 0.59);
$shadow-small-active: 0px 2.5px 8px 0px rgba(0, 0, 0, 0.59);
