*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

@media all and (max-width: 1120px) {
  html {
    font-size: 50%;
  }
}
body {
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 1.5rem;
  height: 1.5rem;
}

::-webkit-scrollbar-track {
  background: #e1ceb7;
}

::-webkit-scrollbar-thumb {
  background: #896439;
  border-radius: 50rem;
}

::-webkit-scrollbar-thumb:hover {
  background: #9b7240;
}

::-webkit-scrollbar-corner {
  background: #e1ceb7;
}

.main {
  position: relative;
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(117deg, rgba(101, 74, 42, 0.8) 0%, rgba(225, 206, 183, 0.8) 100%), url(../img/bg-img-1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.title {
  font-size: 10rem;
  font-family: "Concert One";
  font-weight: 400;
  color: #353b3c;
  margin-top: 6rem;
  margin-bottom: 8rem;
  text-shadow: 3px 3px 0 #fff, -3px 3px 0 #fff, -3px -3px 0 #fff, 3px -3px 0 #fff;
}

@media all and (max-width: 900px) {
  .title {
    margin: 2rem 4rem;
    text-align: center;
  }
}
.content-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 5rem;
}

.btn-container {
  width: 85%;
}

.add-btn {
  font-size: 3rem;
  padding: 2rem 4rem;
  margin-bottom: 6rem;
  display: fixed;
  left: 400px;
  cursor: pointer;
  color: #353b3c;
  border: 3px solid #654a2a;
}

.btn {
  font-family: "Concert One";
  font-weight: 400;
  border-radius: 500px;
  box-shadow: 1px 10px 15px 0px rgba(0, 0, 0, 0.59);
  transition: all 0.2s;
  outline: none;
}

.btn:hover {
  background-color: #fff;
}

.btn:active {
  transform: translateY(0.3rem);
  box-shadow: 0px 8px 10px 0px rgba(0, 0, 0, 0.59);
}

.columns-container {
  display: flex;
  border: 5px solid #654a2a;
  border-radius: 10px;
  width: 90%;
  min-width: 110rem;
  min-height: 30rem;
  text-align: center;
  font-family: "Concert One";
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.59);
}
.columns-container .column {
  flex: 1;
}
.columns-container .todo-column {
  display: flex;
  flex-direction: column;
  min-width: 35rem;
  border-right: 5px solid #654a2a;
}
.columns-container .todo-column .state-title {
  background-color: #853232;
  font-size: 4.5rem;
  color: #353b3c;
  min-width: 35rem;
  text-shadow: 3px 3px 0 #fff, -3px 3px 0 #fff, -3px -3px 0 #fff, 3px -3px 0 #fff;
}
.columns-container .todo-column .state-content-todo {
  background-color: #cf8181;
  height: 100%;
  min-height: 55rem;
  font-size: 3rem;
}
@media all and (max-width: 900px) {
  .columns-container .todo-column {
    background-color: #cf8181;
  }
}
.columns-container .in-progress-column {
  display: flex;
  flex-direction: column;
  min-width: 35rem;
}
.columns-container .in-progress-column .state-title {
  background-color: #ffd166;
  font-size: 4.5rem;
  color: #353b3c;
  min-width: 35rem;
  text-shadow: 3px 3px 0 #fff, -3px 3px 0 #fff, -3px -3px 0 #fff, 3px -3px 0 #fff;
}
.columns-container .in-progress-column .state-content-inprogress {
  background-color: #ffe8b3;
  height: 100%;
  font-size: 3rem;
  min-height: 55rem;
}
@media all and (max-width: 900px) {
  .columns-container .in-progress-column {
    background-color: #ffe8b3;
  }
}
.columns-container .done-column {
  display: flex;
  flex-direction: column;
  min-width: 35rem;
  border-left: 5px solid #654a2a;
}
.columns-container .done-column .state-title {
  background-color: #c9e3a0;
  font-size: 4.5rem;
  color: #353b3c;
  min-width: 35rem;
  text-shadow: 3px 3px 0 #fff, -3px 3px 0 #fff, -3px -3px 0 #fff, 3px -3px 0 #fff;
}
.columns-container .done-column .state-content-done {
  background-color: #e6f2d3;
  height: 100%;
  font-size: 3rem;
  min-height: 55rem;
}
@media all and (max-width: 900px) {
  .columns-container .done-column {
    background-color: #e6f2d3;
  }
}
.columns-container .state-title {
  border-bottom: 5px solid #654a2a;
  padding: 2rem;
}
@media all and (max-width: 900px) {
  .columns-container .done-column {
    border-left: none;
  }
  .columns-container .in-progress-column {
    border-bottom: 3px solid #654a2a;
  }
  .columns-container .todo-column {
    border: none;
    border-bottom: 3px solid #654a2a;
  }
  .columns-container .state-title {
    border-bottom: 3px solid #654a2a;
  }
}

@media all and (max-width: 900px) {
  .columns-container {
    flex-direction: column;
    min-width: 40rem;
    min-height: 90rem;
  }
}
.modal-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  border: 5px solid #654a2a;
  border-radius: 10px;
  align-items: center;
  padding: 2rem;
  width: 50%;
  min-width: 38rem;
  height: 60%;
  min-height: 50rem;
  background-color: #e1ceb7;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.59);
  z-index: 10;
}
.modal-container .modal-title {
  font-size: 4.5rem;
  font-family: "Concert One";
  color: #353b3c;
}
.modal-container .modal-form {
  display: flex;
  width: 90%;
  height: 90%;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.modal-container .modal-form .field-holder {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
  position: relative;
  margin-top: 4rem;
}
.modal-container .modal-form .input-label-title,
.modal-container .modal-form .input-label-text {
  width: 80%;
  position: absolute;
  top: 0rem;
  left: 0rem;
  font-size: 2rem;
  font-family: "Concert One";
  color: rgba(53, 59, 60, 0.6);
  height: 4rem;
  cursor: text;
  display: flex;
  align-items: center;
  padding-left: 1rem;
  transition: all 0.3s;
}
.modal-container .modal-form input {
  height: 4rem;
  width: 100%;
  border-radius: 10px;
  font-size: 2rem;
  font-family: "Concert One";
  background-color: #fff;
  border: 5px solid #654a2a;
  padding: 0 0.9rem;
  outline: none;
}
.modal-container .modal-form textarea {
  width: 100%;
  border: 5px solid #654a2a;
  border-radius: 10px;
  font-size: 2rem;
  font-family: "Concert One";
  background-color: #fff;
  margin-bottom: 2rem;
  padding: 0.7rem 0.9rem;
  outline: none;
  resize: none;
}
.modal-container .modal-form textarea::-webkit-scrollbar-track {
  background: #fff;
}
.modal-container .modal-form input:focus + .input-label-title,
.modal-container .modal-form input:valid + .input-label-title {
  font-size: 1.7rem;
  top: -32px;
  pointer-events: none;
}
.modal-container .modal-form textarea:focus + .input-label-text,
.modal-container .modal-form textarea:valid + .input-label-text {
  font-size: 1.7rem;
  top: -32px;
  pointer-events: none;
}
.modal-container .modal-footer {
  width: 100%;
  display: flex;
  justify-content: space-around;
  padding: 5rem;
  margin-bottom: 2rem;
  gap: 2rem;
}
.modal-container .modal-footer .modal-btn-cancel {
  min-width: 10rem;
  padding: 1rem 3rem;
  background-color: #853232;
  color: #fff;
  border: 5px solid #654a2a;
  box-shadow: 1px 10px 15px 0px rgba(0, 0, 0, 0.59);
  font-size: 2rem;
  cursor: pointer;
}
.modal-container .modal-footer .modal-btn-save {
  min-width: 10rem;
  padding: 1rem 3rem;
  background-color: #c9e3a0;
  color: #353b3c;
  border: 5px solid #654a2a;
  box-shadow: 1px 10px 15px 0px rgba(0, 0, 0, 0.59);
  font-size: 2rem;
  cursor: pointer;
}
.modal-container .modal-footer .modal-btn-cancel:hover {
  background-color: #983939;
}
.modal-container .modal-footer .modal-btn-save:hover {
  background-color: #dfefc7;
}
.modal-container .modal-footer .modal-btn-cancel:active {
  transform: translateY(0.5rem);
  box-shadow: 0px 8px 10px 0px rgba(0, 0, 0, 0.59);
}
.modal-container .modal-footer .modal-btn-save:active {
  transform: translateY(0.5rem);
  box-shadow: 0px 8px 10px 0px rgba(0, 0, 0, 0.59);
}
@media all and (max-width: 900px) {
  .modal-container .modal-footer .modal-btn-cancel,
  .modal-container .modal-footer .modal-btn-save {
    font-size: 1.6rem;
  }
}

.modal-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(101, 74, 42, 0.8);
}

.card-modal-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(101, 74, 42, 0.8);
}

.card-container {
  margin: 1rem;
  padding: 1rem;
  max-height: 25rem;
  font-size: 1.6rem;
  font-family: "Concert One";
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 5px solid #654a2a;
  border-radius: 10px;
  background-color: #fff;
  flex: content;
}
.card-container .card-title {
  text-transform: uppercase;
  letter-spacing: 2;
  padding: 0.8rem;
}
.card-container .card-description {
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  min-height: 10rem;
  max-height: 11.5rem;
}
.card-container .card-timestamp {
  margin-bottom: 0.8rem;
}
.card-container .card-footer {
  width: 100%;
  display: flex;
  justify-content: space-around;
}
.card-container .card-footer select {
  border: 3px solid #654a2a;
  border-radius: 10px;
  height: 3rem;
  width: 11.5rem;
  font-family: "Concert One";
  color: #353b3c;
}
.card-container .card-footer .delete-btn {
  border: 3px solid #654a2a;
  border-radius: 10px;
  height: 3rem;
  width: 11.5rem;
  font-family: "Concert One";
  color: #fff;
  background-color: #672727;
  cursor: pointer;
  transition: all 0.2s;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.59);
}
.card-container .card-footer .delete-btn:hover {
  background-color: #853232;
}
.card-container .card-footer .delete-btn:active {
  transform: translateY(2px);
  box-shadow: 0px 2.5px 8px 0px rgba(0, 0, 0, 0.59);
}
@media all and (max-width: 900px) {
  .card-container .card-footer select,
  .card-container .card-footer .delete-btn {
    font-size: 1rem;
    border: 2px solid #654a2a;
    width: 9rem;
  }
}

.card-modal-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  border: 5px solid #654a2a;
  border-radius: 10px;
  align-items: center;
  padding: 2rem;
  width: 70%;
  min-width: 38rem;
  height: 60%;
  min-height: 50rem;
  background-color: #e1ceb7;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.59);
  z-index: 10;
  font-family: "Concert One";
  text-align: center;
}
.card-modal-container .card-modal-title {
  font-size: 4.5rem;
  font-family: "Concert One";
  color: #353b3c;
  margin-bottom: 2rem;
}
.card-modal-container .card-modal-description {
  width: 90%;
  height: 80%;
  border: 5px solid #654a2a;
  border-radius: 10px;
  font-size: 2rem;
  font-family: "Concert One";
  background-color: #fff;
  margin-bottom: 2rem;
  outline: none;
  resize: none;
  overflow: scroll;
}
.card-modal-container .card-modal-description::-webkit-scrollbar-track {
  background: #fff;
}
.card-modal-container .card-modal-description::-webkit-scrollbar-corner {
  background: #fff;
}
.card-modal-container .card-modal-timestamp {
  font-size: 3rem;
  margin-bottom: 0.8rem;
}
.card-modal-container .card-modal-btn {
  min-width: 10rem;
  padding: 1rem 3rem;
  background-color: #853232;
  color: #fff;
  border: 5px solid #654a2a;
  box-shadow: 1px 10px 15px 0px rgba(0, 0, 0, 0.59);
  font-size: 2rem;
  cursor: pointer;
}

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-15rem);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}
.animation-title {
  animation-name: moveInLeft;
  animation-duration: 1.5s;
  animation-timing-function: ease-out;
}

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(6rem);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}
.animation-moveIn {
  animation-name: moveInBottom;
  animation-duration: 1.5s;
  animation-timing-function: ease-out;
}

@keyframes moveInBottomModal {
  0% {
    opacity: 0;
    transform: translate(-50%, -40%);
  }
  100% {
    opacity: 1;
    transform: translate(-50%, -50%);
  }
}
.animationModal-moveIn {
  animation-name: moveInBottomModal;
  animation-duration: 0.6s;
  animation-timing-function: ease-out;
}

@keyframes moveOutBottom {
  0% {
    opacity: 1;
    transform: translate(-50%, -50%);
  }
  100% {
    opacity: 0;
    transform: translate(-50%, -40%);
  }
}
.animation-moveOut {
  animation-name: moveOutBottom;
  animation-duration: 0.6s;
  animation-timing-function: ease-out;
}

@keyframes backgroundIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.animation-bgIn {
  animation-name: backgroundIn;
  animation-duration: 0.6s;
  animation-timing-function: ease-out;
}

@keyframes backgroundOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.animation-bgOut {
  animation-name: backgroundOut;
  animation-duration: 0.6s;
  animation-timing-function: ease-out;
}

.hidden {
  display: none;
}/*# sourceMappingURL=style.css.map */